.navHeader {
  padding: 15px 8px;
  background-color: #03A9F4;
  color: #fff;

  img {
    max-width: 60px;
    border-radius: 1000px;
    display: inline-block;
    margin: 0 5px 0 0;
  }
}
.userInfo {
  display: inline-block;
  vertical-align: middle;
}
