.navHeader {
  padding: 15px 8px;
  background-color: #2196F3;
  color: #fff;

  img {
    max-width: 60px;
    border-radius: 1000px;
    display: inline-block;
    margin: 0 5px 0 0;
  }
}
.userInfo {
  display: inline-block;
  vertical-align: middle;
}
.adminPanel {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.adminContent {
  transition: all 300ms ease-out;
  position: relative;
  height: inherit;
  flex: 1;
  display: flex;
  flex-direction: column;
}
