.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.loginRow {
  margin-bottom: 10px;
}
.align {
  max-width: 600px;
  padding: 30px 45px;
  border-radius: 3px;
  background-color: #fff;
}
