:global(body) {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #ECEFF1;
  font-family: 'Roboto', 'Arial';
}

.app {
  display: flex;
  flex: 1;
}
.appContent {
  display: flex;
  min-height: 800px;
  flex: 1;
}
